$body-bg: #eee;
$text-color: #333;
$text-color-footer: #91202b;

$link-color: #333;
$link-active-color: #91202b;

/* font */

$font-family-base: 'Roboto', 'Helvetica', sans-serif;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-large: 34px;

/* app vars */

$border-width: 40px;
$border-color: #8e8e8e;
$label-color: #fff;
$info-box-bg: #fff;

$spacer-30: 30px;
$spacer-20: 20px;

/* Button / Headline */
$button-width: 190px;
$button-height: 100px;
$button-radius: 30px;
$line-height: 80px;


/* animation */
$transition-duration-very-slow: 350ms;
$transition-duration-slow: .5s;
$transition-duration-fast: 150ms;


/* logo */
$logo-size: 80px;
$logo-margin: 20px;