@import '../../style/variables.scss';

.headline-wrapper {
    position: absolute;
    height: 50%;
    width: $border-width;
    box-sizing: border-box;

    z-index: 1;

    left: 0;
    right: 0;

    margin: auto;

    background-color: $border-color;

    .headline-label {
        position: fixed;
        width: 100%;
        left: 0;
        top: 20px;
        text-align: center;
        color: $label-color;
        text-transform: uppercase;
        font-size: $font-size-medium;
        line-height: $line-height;

        span {
            padding: 20px;
            background-color: $border-color;
            border-radius: $button-radius;
        }

    }
}